body {
    background-color: beige;
}

div {
    display: flex;
}

.containerGrid {
    width: 75vw;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    background-color: #f0ffff;
}

.rowGrid {
    flex: 1;
}

.cellGrid {
    flex:auto;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    border-color: black;
    background-color: white;
}

